* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: lightblue;
}

h1 {
  text-align: center;
}

.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  flex: 1 0 240px;
  padding: 20px;
  margin: 20px;
  max-width: 260px;
  background-color: lightpink;
  border: 2px solid palevioletred;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  gap: 14px;
  font-size: 1.2rem;
}

.title {
  align-self: center;
  border-bottom: 2px solid red;
}

.add-book {
  border-radius: 50%;
  height: 80px;
  width: 80px;
  position: fixed;
  bottom: 80px;
  right: 80px;
  background-color: lightsalmon;
  border: 3px solid rgb(255, 123, 0);
  box-shadow: 3px 3px 4px lightslategray;
}

.book-details {
  visibility: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: lightgoldenrodyellow;
  border: 2px solid yellow;
  padding: 30px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 20px;
  font-size: 1.6rem;
}

input {
  border: none;
  border-bottom: 1px solid yellow;
  font-size: 1.5rem;
}

.add {
  padding: 10px;
  font-size: 20px;
  width: 20%;
  align-self: center;
}
